/dts-v1/;

#include <andes_v5_ae350.dtsi>

/ {
	model = "andestech,ae350";
	compatible = "andestech,ae350";

	aliases {
		gpio-0 = &gpio0;
		counter-0 = &pit0;
		spi-0 = &spi0;
		spi-1 = &spi1;
		i2c-0 = &i2c0;
		lcd-0 = &lcd0;
		eth-0 = &eth0;
	};

	chosen {
		zephyr,console = &uart1;
		zephyr,shell-uart = &uart1;
		zephyr,sram = &dram;
		zephyr,flash = &flash0;
	};
};

&uart1 {
	status = "okay";
	clock-frequency = <19660800>;
	current-speed = <115200>;
};

&gpio0 {
	status = "okay";
};

&pit0 {
	status = "okay";
};

&spi0 {
	status = "okay";
	flash0: flash@0 {
		compatible = "jedec,spi-nor";
		size = <16777216>;
		label = "JEDEC SPI-NOR";
		spi-max-frequency = <1000000>;
		reg = <0>;
		status = "okay";
		jedec-id = [c2 25 35];
	};
};

&spi1 {
	status = "okay";
};

&i2c0 {
	status = "okay";
};

&lcd0 {
	status = "okay";
};
&eth0 {
	status = "okay";
};
